#{extends 'main.html' /}
#{set title:'Editar Obra Referencia' /}

<form class="form-horizontal" action="/material/or/guardar"  method="POST">
	<fieldset>		
		<!-- Form Name -->
		<legend>Editar Material - Obra de Referencia</legend>
		
		<input name="orIdM" value="${or.material.idmaterial}" hidden="true">
		<input name="orIdObraRef" value="${or.idobraref}" hidden="true">
	
		<!-- Select Basic -->
		<div class="form-group">
			  <label class="col-md-4 control-label" for="tgCategM">Categoría Material</label>
			  <div class="col-md-4">
			    <select id="tgCategM" name="orCategM" class="form-control">
			      		#{list items:categorias, as:'categoria'}
				      		<option value="${categoria.idcategoriamat}"  #{ if (categoria.idcategoriamat == or.material.categoriamaterial.idcategoriamat) } selected="selected"  #{/if}>${categoria.categoriamat}</option>	
				      	#{/list}
			    </select>
			  </div>
		</div>
		
		<!-- Text input-->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="orUbicaM">Ubicación</label>  
		  <div class="col-md-5">
		  <input id="textinput" name="orUbicaM" placeholder="" class="form-control input-md" type="text" value="${or.material.ubicacion}" required="" maxlength="25">
		  <span class="help-block">Ubicacion en la biblioteca, pasillo, estante, etc.</span>  
		  </div>
		</div>
		
		<!-- Text input-->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="orExistM">Existencias</label>  
		  <div class="col-md-2">
		  <input id="textinput" name="orExistM" placeholder="" class="form-control input-md" type="text" value="${or.material.existencias}" required="">
		    
		  </div>
		</div>
		
		<!-- Text input-->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="orDescM">Descripción de Material</label>  
		  <div class="col-md-5">
		  <input id="textinput" name="orDescM" placeholder="" class="form-control input-md" type="text" value="${or.material.descripcionmaterial}" maxlength="50">
		    
		  </div>
		</div>
		
		<!-- Text input-->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="orCategM">Tipo Obra de Referencia</label>  
		  <div class="col-md-5">
		   <select id="tgCategM" name="orTipoR" class="form-control">
		      		#{list items:tiposor, as:'tiposOR'}
			      		<option value="${tiposOR.idtipoobraref}"  #{ if (tiposOR.idtipoobraref == or.tipoobrareferencia.idtipoobraref) } selected="selected"  #{/if}>${tiposOR.tiporef}</option>	
			      	#{/list}
		    </select>
		  </div>
		</div>
		
		<!-- Text input-->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="orTitulo">Titulo</label>  
		  <div class="col-md-4">
		  <input id="textinput" name="orTitulo" placeholder="" class="form-control input-md" type="text" value="${or.titulo}" required="" maxlength="50">
		    
		  </div>
		</div>
				
		
		<!-- Button (Double) -->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="guardarOR"></label>
		  <div class="col-md-8">
		    <button type="submit" id="guardarOR" name="guardarOR" class="btn btn-success">Guardar</button>
		    <button id="cancelarOR" name="cancelarOR" class="btn btn-danger">Cancelar</button>
		  </div>
		</div>
	
	</fieldset>
</form>
