#{extends 'main.html' /}
#{set title:'Reporte Libros Categorias' /}



<div class="bs-example">
	<table class="table table-striped">
	<thead>
	<tr>
		<th  width="15%">
			ID
		</th >
		<th  width="10%">
			Titulo
		</th>
		<th  width="10%">
			Edicion
		</th>
		<th  width="25%">
			Editorial
		</th>
		<th  width="10%">
			Total
		</th>
		<th  width="10%">
			Ejemplares
		</th>
		<th wit width="20%">
			Ubicacion
		</th>
	</tr>
	</thead>
	<tbody>
	#{list items:list, as:'item'}
		<tr>
			<td>${item.id}</td>
			<td>${item.titulolibro}</td>
			<td>${item.edicion}</td>
			<td>${item.nombreeditorial}</td>
			<td>${item.totallibros}</td>
			<td>${item.ejemplares}</td>
			<td>${item.ubicacion}</td>

		</tr>

	#{/list}							
	</tbody>
	</table>
	
</div>

<script type="text/javascript">

$(document).ready(function() {
	
	$(".grid-delete").click(function(){

		var url = $(this).data().url;
		console.log(url)

		deleteCallAjax(url)

	});

});
</script>