#{extends 'main.html' /}
#{set title:'Reporte Libros Categorias' /}



<div class="bs-example">
	<table class="table table-striped">
	<thead>
	<tr>
		<th  width="15%">
			Nombre
		</th >
		<th  width="10%">
			Carnet
		</th>
		<th  width="10%">
			Telefono
		</th>
		<th  width="25%">
			Correo
		</th>
	</tr>
	</thead>
	<tbody>
	#{list items:list, as:'item'}
		<tr>
			<td>${item.nombre}</td>
			<td>${item.carnet}</td>
			<td>${item.telefono}</td>
			<td>${item.correo}</td>
		</tr>

	#{/list}							
	</tbody>
	</table>
	
</div>

<script type="text/javascript">

$(document).ready(function() {
	
	$(".grid-delete").click(function(){

		var url = $(this).data().url;
		console.log(url)

		deleteCallAjax(url)

	});

});
</script>