#{extends 'main.html' /}
#{set title:'Reporte de memorias y tesis existentes por tema' /}

<div class="bs-example">
	<table class="table table-striped">
	<thead>
	<tr>
		<th  width="20%">
			Tema
		</th >
		<th  width="20%">
			Fecha archivado
		</th>
		<th  width="20%">
			Asesor
		</th>
		<th  width="20%">
			Nombres autor
		</th>
		<th  width="20%">
			Apellidos autor
		</th>
	</tr>
	</thead>
	<tbody>
	#{list items:list, as:'item'}
		<tr>
			<td>${item.tema}</td>
			<td>${item.fechaarchivado}</td>
			<td>${item.asesor}</td>
			<td>${item.nombresautor}</td>
			<td>${item.apellidosautor}</td>
			<td></td>

		</tr>

	#{/list}							
	</tbody>
	</table>
	
</div>

