#{extends 'main.html' /}
#{set title:'Reportes disponibles' /}

<div class="bs-example">
	<table class="table table-striped">
	<thead>
	<tr>
		
		<th  width="70%">
			Reportes
		</th>
		<th  width="30%">
			Acciones
		</th>
		
	</tr>
	</thead>
	<tbody>
	
		<tr>
			<td>
				 Reporte de libros existentes
				 <td>
					<div class="btn-group">
						<button type="button" class="btn btn-default"><a href="/LibroCategoria">Ordenados por categoria</a></button>
					</div>
				</td>
			</td>
		</tr>	
		<tr>
			<td>
				  Reporte libros existentes 
				 <td>
					<div class="btn-group">
						<button type="button" class="btn btn-default"><a href="/LibroExistencia">Ver reporte</a></button>
					</div>					
										
				</td>
				
			</td>
		</tr>	
			<td>
				 Reporte de tesis existentes 
				 <td>
					<div class="btn-group">
						<button type="button" class="btn btn-default"><a href="/ReportTgNombre">Ordenandos por tema</a></button>
					</div>					
					<div class="btn-group">
						<button type="button" class="btn btn-default"><a href="/ReportTgAsesor">Ordenandos por asesor</a></button>
					</div>					
				</td>
				
			</td>
		</tr>	
		<tr>
			<td>
				  Reporte de revistas existentes 
				 <td>
					<div class="btn-group">
						<button type="button" class="btn btn-default"><a href="/RevistaFecha">Ordenados por fecha</a></button>
					</div>					
					<div class="btn-group">
						<button type="button" class="btn btn-default"><a href="/RevistaTitulo">Ordenados por titulo</a></button>
					</div>					
				</td>
				
			</td>
		</tr>	
		<tr>
			<td>
				  Reporte de periodicos existentes 
				 <td>
					<div class="btn-group">
						<button type="button" class="btn btn-default"><a href="/PeriodicoFecha">Ordenados por fecha</a></button>
					</div>					
					<div class="btn-group">
						<button type="button" class="btn btn-default"><a href="/PeriodicoTitulo">Ordenados por titulo</a></button>
					</div>					
				</td>
				
			</td>
		</tr>	
		<tr>
			<td>
				  Reporte de prestamistas en mora 
				 <td>
					<div class="btn-group">
						<button type="button" class="btn btn-default"><a href="/UsuarioMora">Ver reporte</a></button>
					</div>					
				
				</td>
				
			</td>
		</tr>	
		<tr>
			<td>
				  Cantidad de usuarios registrados 
				 <td>
					<div class="btn-group">
						<button type="button" class="btn btn-default"><a href="/UsuariosRegistrados">Ver reporte</a></button>
					</div>					
				
				</td>
				
			</td>
		</tr>
				<tr>
			<td>
				  Cantidad de prestamos de usuarios  
				 <td>
					<div class="btn-group">
						<button type="button" class="btn btn-default"><a href="/CantidadPrestamos">Ver reporte</a></button>
					</div>					
				
				</td>
				
			</td>
		</tr>	
		
	


	</tbody>
	</table>
</div>
