#{extends 'main.html' /}
#{set title:'Modificar Estudiante' /}

<form class="form-horizontal" action="/estudiante/guardar"  method="POST">
	<fieldset>
	
		<!-- Form Name -->
		<legend>Modificar Estudiante</legend>
		
		<legend>Datos de Usuario</legend>
		
		<input name="estIdUsuario" value="${estudiante.prestamista.usuario.idUsuario}" type="hidden">
		<input name="estCarnet" value="${estudiante.prestamista.carnet}" type="hidden">
		<input name="estIdEstudiante" value="${estudiante.idestudiante}" type="hidden">
			
		<!-- Text input-->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="nombres">Nombres del Estudiante</label>  
		  <div class="col-md-4">
		  <input id="nombres" name="nombres" type="text" placeholder="" class="form-control input-md" required="" value="${estudiante.prestamista.usuario.nombres}">
		    
		  </div>
		</div>
		
		<!-- Text input-->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="apellidos">Apellidos del Estudiante</label>  
		  <div class="col-md-4">
		  <input id="apellidos" name="apellidos" type="text" placeholder="" class="form-control input-md" required="" value="${estudiante.prestamista.usuario.apellidos}">
		    
		  </div>
		</div>
		
		<!-- Select Basic -->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="genero">Genero</label>
		  <div class="col-md-4">
		    <select id="genero" name="genero" class="form-control">
		      <option value="M" #{ if (estudiante.prestamista.usuario.genero == 'M') } selected="selected"  #{/if}>Masculino</option>
		      <option value="F" #{ if (estudiante.prestamista.usuario.genero == 'F') } selected="selected"  #{/if}>Femenino</option>
		    </select>
		  </div>
		</div>
		
		<!-- Text input-->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="username">Nombre de Usuario</label>  
		  <div class="col-md-4">
		  <input id="username" name="username" type="text" placeholder="" class="form-control input-md" required="" value="${estudiante.prestamista.usuario.nombreusuario}">
		    
		  </div>
		</div>
		
		<!-- Multiple Radios -->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="activado">Activado</label>
		  <div class="col-md-4">
		  <div class="radio">
		    <label for="activado-0">
		      <input type="radio" name="activado" id="activado-0" value="0" #{ if (estudiante.prestamista.usuario.activado == 0) } checked="checked"  #{/if}>
		      No
		    </label>
			</div>
		  <div class="radio">
		    <label for="activado-1">
		      <input type="radio" name="activado" id="activado-1" value="1" #{ if (estudiante.prestamista.usuario.activado == 1) } checked="checked"  #{/if}>
		      Si
		    </label>
			</div>
		  </div>
		</div>
		
		<legend>Datos de Prestamista</legend>
		
		<!-- Text input-->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="movil">Telefono Movil</label>  
		  <div class="col-md-4">
		  <input id="movil" name="movil" type="text" placeholder="" class="form-control input-md" required="" value="${estudiante.prestamista.telmovil}">
		    
		  </div>
		</div>
		
		<!-- Text input-->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="fijo">Telefono Fijo</label>  
		  <div class="col-md-4">
		  <input id="fijo" name="fijo" type="text" placeholder="" class="form-control input-md" required="" value="${estudiante.prestamista.telfijo}">
		    
		  </div>
		</div>
		
		<!-- Text input-->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="direccion">Direccion</label>  
		  <div class="col-md-4">
		  <input id="direccion" name="direccion" type="text" placeholder="" class="form-control input-md" required="" value="${estudiante.prestamista.direccionprestamista}">
		    
		  </div>
		</div>
		
		<!-- Text input-->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="correo">Correo</label>  
		  <div class="col-md-4">
		  <input id="correo" name="correo" type="email" placeholder="" class="form-control input-md" required="" value="${estudiante.prestamista.correo}">
		    
		  </div>
		</div>
		
		<!-- Text input-->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="documento">Nº de Documento</label>  
		  <div class="col-md-4">
		  <input id="documento" name="documento" type="text" placeholder="" class="form-control input-md" required="" value="${estudiante.prestamista.documento}">
		    
		  </div>
		</div>
		
		<!-- Multiple Radios -->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="carnet">Carnet Entregado</label>
		  <div class="col-md-4">
		  <div class="radio">
		    <label for="carnet-0">
		      <input type="radio" name="carnet" id="carnet-0" value="0" #{ if (estudiante.prestamista.carnetrecibido == 0) } checked="checked"  #{/if}>
		      No
		    </label>
			</div>
		  <div class="radio">
		    <label for="carnet-1">
		      <input type="radio" name="carnet" id="carnet-1" value="1" #{ if (estudiante.prestamista.carnetrecibido == 1) } checked="checked"  #{/if}>
		      Si
		    </label>
			</div>
		  </div>
		</div>
		
		<legend>Datos de Estudiante</legend>
		
		<!-- Select Basic -->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="infra">Codigo Infraestructura</label>
		  <div class="col-md-4">
		    <select id="infra" name="infra" class="form-control">
		    	 #{list items:instituciones, as:'institucion'}
		      		<option value="${institucion.codinfraestructura}" #{ if (institucion.codinfraestructura == estudiante.institucion.codinfraestructura) } selected="selected"  #{/if}>${institucion.nombreinstitucion}</option>	
		      	  #{/list}
		    </select>
		  </div>
		</div>
		
		<!-- Text input-->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="carrera">Carrera</label>  
		  <div class="col-md-4">
		  <input id="carrera" name="carrera" type="text" placeholder="" class="form-control input-md" required="" value="${estudiante.carrera}">
		    
		  </div>
		</div>
		
		<!-- Button (Double) -->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="guardar">Acciones</label>
		  <div class="col-md-8">
		    <button type="submit" id="guardar" name="guardar" class="btn btn-success">Guardar</button>
		    <button id="cancelar" name="cancelar" class="btn btn-danger">Cancelar</button>
		  </div>
		</div>
		
	</fieldset>
</form>