#{extends 'main.html' /}
#{set title:'Mostrar prestamo' /}

<form class="form-horizontal" action="/prestamo/guardar"  method="POST">
	<fieldset>
		<!-- Form Name -->
		<legend>Detalles de Prestamo</legend>
		
		<input name="prestamoId" type="hidden" value="${prestamo.idprestamo}">
		<!-- Appended Input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="presBiblioId">Bibliotecologo</label>
			<div class="col-md-5">
				<select id="presBiblioId" name="presBiblioId" style="width:400px" requ>
					<option></option>
					#{list items:litsBiblio, as:'bibliotecologo'}
					<option value="${bibliotecologo.idbiblio}" #{ if (bibliotecologo.idbiblio == prestamo.bibliotecologo.idbiblio) } selected="selected"  #{/if}>
						${bibliotecologo.usuario.nombres} ${bibliotecologo.usuario.apellidos}</option> #{/list}
				</select>
					<!-- input id="presBiblioId" name="presBiblioId" class="form-control" placeholder="" type="text" value="${prestamo.bibliotecologo.usuario.nombres} ${prestamo.bibliotecologo.usuario.apellidos}">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">Bzscar</button>
					</span-->
			</div>
		</div>
		<!-- Appended Input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="prestPrestId">Prestamista</label>
			<div class="col-md-4">
				<select id="prestPrestId" name="prestPrestId" style="width:400px">
					<option></option>
					#{list items:litsPresta, as:'prestamista'}
					<option value="${prestamista.carnet}" #{ if (prestamista.carnet== prestamo.prestamista.carnet) } selected="selected"  #{/if}>
						${prestamista.usuario.nombres} ${prestamista.usuario.apellidos}</option> #{/list}
				</select>
			</div>
		</div>
		<!-- Select Basic -->
		<div class="form-group">
			<label class="col-md-4 control-label" for="presTipoMat">Tipo de Material</label>
			<div class="col-md-4">
				<select id="presTipoMat" name="presTipoMat" class="form-control" onchange="setMaterial(this);">
					<option></option>
					#{list items:listaTipoMateial, as:'categoria'}
						<option value="${categoria.idcategoriamat}"  #{ if (categoria.idcategoriamat == prestamo.material.categoriamaterial.idcategoriamat) } selected="selected"  #{/if}>${categoria.categoriamat}</option>	
					#{/list}
				</select>
			</div>
		</div>
		<!-- Appended Input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="presMatId">Material</label>
			<div class="col-md-5">
				<div class="input-group">				
					<select id="presMatIdSelect" name="presMatIdSelect" style="width: 400px">
						<option value="${prestamo.material.idmaterial}" >${prestamo.material.descripcionmaterial}</option>
					</select>
				</div>
			</div>
		</div>
		<!-- Select Basic -->
		<div class="form-group">
			<label class="col-md-4 control-label" for="presTipoPres">Tipo de Prestamo</label>
			<div class="col-md-4">
				<select id="presTipoPres" name="presTipoPres" class="form-control">
				    	  #{list items:listaTipoPrestamo, as:'tipoPrestamo'}
				      		<option value="${tipoPrestamo.idtipoprestamo}"  #{ if (tipoPrestamo.idtipoprestamo == prestamo.tipoprestamo.idtipoprestamo) } selected="selected"  #{/if}>${tipoPrestamo.tipo}</option>	
				      	  #{/list}
				</select>
			</div>
		</div>
		<!-- Select Basic -->
		<div class="form-group">
			<label class="col-md-4 control-label" for="presEstado">Estado Prestamo</label>
			<div class="col-md-2">
				<select id="presEstado" name="presEstado" class="form-control" required="">
					<option value="0" #{ if (prestamo.estado == 0)} selected="selected"  #{/if}>ENTREGADO</option>
					<option value="1" #{ if (prestamo.estado == 1)} selected="selected"  #{/if}>ACTIVADO</option>
					<option value="2" #{ if (prestamo.estado == 2)} selected="selected"  #{/if}>EN MORA</option>
					<option value="3" #{ if (prestamo.estado == 3)} selected="selected"  #{/if}>PENALIZADO</option>
				</select>
			</div>
		</div>
		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="presFechaIn">Fecha Inicio</label>
			<div class="col-md-4 input-group date" id="datetimepicker1" data-date-format="DD/MMM/YYYY" style="padding-left: 15px;">
				<input id="presFechaIn" name="presFechaIn" type="text" placeholder="" class="form-control input-md" value="${prestamo.fechainicio.format('dd/MMM/yyyy')}" required="">
				<span class="input-group-addon">
					<span class="glyphicon-calendar glyphicon"></span>
                </span>
			</div>
		</div>
		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="presFechaFin">Fecha Fin</label>
			<div class="col-md-4 input-group date" id="datetimepicker2" data-date-format="DD/MMM/YYYY" style="padding-left: 15px;">
				<input id="presFechaFin" name="presFechaFin" type="text" placeholder="" class="form-control input-md" value="${prestamo.fechafin?.format('dd/MMM/yyyy')}">
				<span class="input-group-addon">
					<span class="glyphicon-calendar glyphicon"></span>
                </span>
			</div>
		</div>
		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="presFecahDev">Fecha de Devolución </label>
			<div class="col-md-4 input-group date" id="datetimepicker3" data-date-format="DD/MMM/YYYY" style="padding-left: 15px;">
				<input id="presFecahDev" name="presFecahDev" type="text" placeholder="" class="form-control input-md" value="${prestamo.fechadevolucion?.format('dd/MMM/yyyy')}">
				<span class="input-group-addon">
					<span class="glyphicon-calendar glyphicon"></span>
                </span>
			</div>
		</div>
		<!-- Button (Double) -->
		<div class="form-group">
			<label class="col-md-4 control-label" for="btnGuardar"></label>
			<div class="col-md-8">
				<button type="submit" id="btnGuardar" name="btnGuardar" class="btn btn-success">Guardar</button>
				<button type="button" id="btnCancelar" name="btnCancelar" class="btn btn-danger">Cancelar</button>
			</div>
		</div>
	</fieldset>
</form>

<script type="text/javascript">
    $(function () {
        $('#btnCancelar').click( function(){
            console.log("Redireccionar")
        	window.location.href ="/prestamo/listar";
        });
        $('#datetimepicker1').datetimepicker({
            pickTime: false
        });
        $('#datetimepicker2').datetimepicker({
            pickTime: false
        });
        $('#datetimepicker3').datetimepicker({
            pickTime: false
        });

		$("#datetimepicker1").on("dp.change",function (e) {
		    $('#datetimepicker2').data("DateTimePicker").setMinDate(e.date);
		 });
		$("#datetimepicker1").on("dp.change",function (e) {
		    $('#datetimepicker3').data("DateTimePicker").setMinDate(e.date);
		 });
		 
		$("#presBiblioId").select2({
		    placeholder: "Seleccionar Bibliotecologo"
		});

		$("#prestPrestId").select2({
		    placeholder: "Seleccionar Prestamista"
		});

		$("#presTipoMat").select2({
		    placeholder: "Seleccionar Prestamista"
		});
    });

    function setMaterial(select){
		 console.log(select);
		 if(+select.value!="-1"){
		 $.ajax({
				type : 'GET',
				url : '/busqueda/material?id='+select.value,
				success : function(data) {
					$("#presMatIdSelect").html("");
					console.log("exito");
					console.log(data);
					var str ='<option></option>';
					for(var i=0; i<data.length;i++){
						str= str+'<option  value="'+data[i].id+'"  >'+data[i].name+'</option>';
					}
					// $("#countrys").attr('disabled', false);
					 $("#presMatIdSelect").html(str);
					$("#presMatIdSelect").select2({
					    placeholder: "Seleccione un Material"
					});
				}
			}); 
		 }else{
			 var str =' <option value="">Seleccione un Material</option>';
			 $("#presMatIdSelect").html(str);
		 }
	 } 
</script>