#{extends 'main.html' /}
#{set title:'Listar Libros' /}

<div class="bs-example">
	<table class="table table-striped">
	<thead>
	<tr>
		<th  width="10%">
			id
		</th >
		<th  width="20%">
			Titulo
		</th>
		<th  width="10%">
			volumen
		</th>
		<th  width="15%">
			Edición
		</th>
		<th wit width="15%">
			Editorial
		</th>
		<th wit width="10%">
			Idioma
		</th>
		<th wit width="20%">
			Acciones
		</th>
	</tr>
	</thead>
	<tbody>
	#{list items:listLibros, as:'libro'}
		<tr>
			<td>
				${libro.isbn}
			</td>
			<td>
				${libro.titulo}
			</td>
			<td>
				${libro.volumen}
			</td>
			<td>
				${libro.edicion}
			</td>
			<td>
				${libro.editorial.nombreeditorial}
			</td>
			<td>
				${libro.idiomas.nombreidioma}
			</td>
			<td>
				<div class="btn-group">
					<button type="button" class="btn btn-default"><a href="/material/libro/mostrar/${libro.isbn}">Editar</a></button>
					<button 
				  			data-url="/material/libro/eliminar/${libro.isbn}"
							data-extra="true"
							type="button" 
							class="btn btn-default grid-delete">
							<a>Eliminar</a>
					</button>
				</div>
			</td>
		</tr>	
	 #{/list}


	</tbody>
	</table>
</div>

<script type="text/javascript">

$(document).ready(function() {
	
	$(".grid-delete").click(function(){

		var url = $(this).data().url;
		console.log(url)

		deleteCallAjax(url)

	});

});
</script>