#{extends 'main.html' /}
#{set title:'Agregar Autor Mapa' /}

<form class="form-horizontal" action="/material/mapa/guardarAutor"  method="POST">
	<fieldset>		
		<!-- Form Name -->
		<legend>Agregar Autores - Obra de referencia</legend>
		
		<input name="mapaIdM" value="${mapa.material.idmaterial}" hidden="true">
		<input name="mIdMapa" value="${mapa.idmapa}" hidden="true">
		
		<!-- Select Basic -->
		 <div class="form-group">	  					
			  <label class="col-md-4 control-label" for="tgUbicaM" align="left" >Nombre:</label>
			  <div class="col-md-3"> 
			  <input id="tgCD" name="nomAutorM" placeholder="" class="form-control input-md" type="text" required="" maxlength="50">
			 </div>
		 </div>	
		 							 
		 <div class="form-group">			
			 <label class="col-md-4 control-label" for="tgUbicaM" align="left">Apellido:</label>	
			  <div class="col-md-3"> 				
			 <input id="tgCD" name="apeAutorM" placeholder="" class="form-control input-md" type="text" required="" maxlength="50">
			 </div>			
		</div>	
		 	   		
		<div class="form-group">			  					
			 <label class="col-md-4 control-label" for="tgUbicaM" align="left">Direccion:</label>
			 <div class="col-md-3"> 
			 <input id="tgCD" name="direcAutorM" placeholder="" class="form-control input-md" type="text" maxlength="50">
			 </div> 				
		</div>
		
	 	<div class="form-group">					  					
			 <label class="col-md-4 control-label" for="tgUbicaM" align="left">Telefono:</label>
			 <div class="col-md-2"> 
			 <input id="tgCD" name="telAutorM" placeholder="" class="form-control input-md" type="text" maxlength="9">
			 </div>
		</div>	
		
		<!-- Button (Double) -->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="guardarOR"></label>
		  <div class="col-md-8">
		    <button type="submit" id="guardarOR" name="guardarTG" class="btn btn-success">Guardar</button>
		    <button id="cancelarTG" name="cancelarOR" class="btn btn-danger">Cancelar</button>
		  </div>
		</div>
	</fieldset>
</form>
	 
		 