#{extends 'main.html' /}
#{set title:'Inicio' /}

<style type="text/css">
	.jumbotron{
		height: 550px !important;
	}

</style>


<div class="col-md-6 col-sm-6 col-xs-12 welcome-left">
	<p id="welcome">
		<span>Bienvenido <i class="currentUser"></i> al</span> 
		<span>Sistema Bibliotecario</span>
	</p>
	<p style="font-style:italic;">
		<span>"Su mejor opción para la administracion de</span>
		<span>el material bibliotecario </span>
		<span>de manera, fácil, rápida y eficiente"</span>
	</p>
</div>
<div class="col-md-6 col-sm-6 hidden-xs welcome-right">
	<img src="../../public/images/bib-2.jpg">
	<img src="../../public/images/bib-3.jpg">
	<img src="../../public/images/bib-1.jpg">
</div>
